<?php 
$config = array(
  "url" => "http://dev.test/dragdrop/uploads/",
  "uploadDir" => "uploads/",
  "filelistlimit" => 20,
  "ignorefilelist" => array(".", "..", ".gitkeep"),

  /**
   * only use lower-case as front-end converts to lowercase
   */
  "ignorepreview" => array(),
  "includepreview" => array("jpg","png","mp4"),

  // time to expire upload (in seconds)
  // WARNING, if you change this, files may be deleted if detected expired
  // 0 for no expiration
  "uploadexpires" => 432000,
);